DATABASE_URL=mysql+pymysql://th_exto_hypnobox:qpd60mmr06@db/th_exto_hypnobox
RUNNING_IN_DOCKER=true

0 */3 * * * cd /app && /usr/local/bin/python3 -m functions.hypnobox.updaters.update_clients_v2 >> /var/log/api-exto.log 2>&1
0 */3 * * * cd /app && /usr/local/bin/python3 -m functions.hypnobox.updaters.update_products >> /var/log/api-exto.log 2>&1
0 */3 * * * cd /app && /usr/local/bin/python3 -m functions.hypnobox.updaters.update_messages >> /var/log/api-exto.log 2>&1
0 */3 * * * cd /app && /usr/local/bin/python3 -m functions.hypnobox.updaters.update_chat >> /var/log/api-exto.log 2>&1
0 */3 * * * cd /app && /usr/local/bin/python3 -m functions.hypnobox.updaters.update_users >> /var/log/api-exto.log 2>&1


# A cada três horas
# 0 */3 * * *

# tail -f /var/log/cron-TH-Exto-Hypnobox.log
# tail -f /var/log/cron-working-directory.log


# Crontab Example and Cheatsheet
#
# ┌───────────── minuto (0 - 59)
# │ ┌────────────── hora (0 - 23)
# │ │ ┌─────────────── dia do mês (1 - 31)
# │ │ │ ┌──────────────── mês (1 - 12)
# │ │ │ │ ┌───────────────── dia da semana (0 - 6) (domingo a sábado; 7 é domingo, igual a 0)
# │ │ │ │ │
# * * * * * usuário comando a ser executado
#
# Exemplos de Crontab
#
# Executar diariamente à meia-noite:
# 0 0 * * * comando_a_ser_executado
#
# Executar todos os domingos à meia-noite:
# 0 0 * * 0 comando_a_ser_executado
#
# Executar no dia 1 de cada mês à meia-noite:
# 0 0 1 * * comando_a_ser_executado
#
# Executar às 12:30 PM todos os dias:
# 30 12 * * * comando_a_ser_executado
#
# Executar de segunda a sexta-feira às 5:00 PM:
# 0 17 * * 1-5 comando_a_ser_executado
#
# Executar a cada 5 minutos
# */5 * * * * comando_a_ser_executado
#
# Executar a cada minuto
# * * * * * comando_a_ser_executado
#
# Executar de hora em hora:
# 0 * * * * comando_a_ser_executado

# Executar a cada três horas:
# 0 */3 * * * comando_a_ser_executado
